<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DependencyVersion" value="Highest" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!--<packageSources>
    <add key="Trc" value="https://" />
  </packageSources>-->
</configuration>
